img.mr-1 {
  width: "96px";
}

img.feature-img {
  width: 90%;
  height: 500px;
}

div.col-2 {
  height: 100vh;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  background: #bbce8a;
}

div.col-8 {
  height: 100vh;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}

div.col {
  height: 100vh;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  background: #bbce8a;
}

div.navbar-brand {
  font-weight: bold;
  font-size: 2.5em;
  font-family: "Bungee";
}

.navbar {
  background: #d16014;
}

button.list-group-item {
  padding: 12% 0;
  background-color: transparent;
  font-family: "Bungee";
}

h4 {
  text-align: center;
}